body {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb(35, 36, 31);
    position: relative;
    float: left;
}
h1 {
    float: left;
    position: fixed;
    top: 10px;
    left: 0;
    background: #fff;
    padding: 10px;
}
#container {
    background: #f7f7f7;
    width: 1330px;
    padding: 20px;
    margin: 20px;
}
#background {
    position: absolute;
    left: 670px;
    top: 0;
    background: rgb(35, 36, 31);
    height: 100%;
    width: 720px;
    z-index: 0;
}
.type {
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}
.param {
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}
.param-todo { color: rgb(249, 38, 114) }
.param-return { }
.codes {
    position: relative;
    width: 680px;
    float: left;
    z-index: 1;
}
.docs {
    width: 620px;
    padding-right: 20px;
    float: left;
}
.section {
    display: block;
    clear: both;
}
.param-desc {
    font-family: sans-serif;
    font-size: 12px;
    display: block;
}
.pilcrow { padding-right: 10px }
/* Because im lazy :P */
.clear { clear: both }

@media all and (max-width: 1400px) {
    #background { position: relative }
    #container {
        width: 80%;
        margin: 20px auto;
    }
    .codes { width: 100% }
    .docs { width: 100% }
}

